$dark-nav-color: #2C3840;

/** === by Feldens === */

$light-grey: #f2f2f2 ;
$blue: #0083C4;
.white-text {
  color: white;
}

.bg-light-grey {
	background-color: $light-grey;
}

.color-primary {
	color: $blue;
}