#page-home {

	.icon-banner {
	    height: 60vh;
	    background-size: contain;
	    background-position: center;
	    background-repeat: no-repeat;
	}

	@media screen and (max-width: 768px) {

	   .icon-banner {
	    	height: 40vh;
	  	}
	}
}
