body {
  overflow-x: hidden;
}
.main-container {
  @include xy-grid-container;
}

.main-grid {
  @include xy-grid();
  margin-top: 1rem;

  @include breakpoint(medium) {
    margin-top: 3rem;
  }

  &.sidebar-left {
    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content { order: 1; }
      .sidebar { order: 2; }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content { order: 2; }
      .sidebar { order: 1; }
    }
  }

  // Full width template
  .main-content-full-width {
    @include xy-cell(12);
  }

  // Default template
  .main-content {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(8);
    }
  }

  .sidebar {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(4);
      margin-top: 1rem;
    }

  }
}

/** === by Feldens === */

.bg-texture {
  background-size:cover; 
  background-repeat: no-repeat;
  min-height: 20rem;
}

.main{
  padding-top: 90px;
  min-height: 75vh;
}

.container-hover {
  position: relative;
  background-color: black;
}

.content-hover {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container-hover:hover .image-overlay {
  opacity: 0.3;
}

.container-hover:hover .content-hover {
  opacity: 1;
}

.page-load-status {
  display: none; /* hidden by default */
  padding-top: 20px;
  border-top: 1px solid #DDD;
  text-align: center;
  color: #777;
}

.wpcf7-form {
  span input, textarea {
    background-color: $light-grey;
    border: solid 1px $light-grey;
  }
}

.search-form { 
  width: 42px; 
  transition: ease all .3s;
  
  .search-submit {
    padding-left: 10px;
  }

  .input-group-field {
    border: none;
    border-bottom: 1px solid black;
    box-shadow: none;
    width: 100%;
    padding: 0px;
  }

  .icon-search {
    color: $blue;
  }
}

.search-form:hover {
  width: 220px;
}
//for toggle
.callout {
  border: none;
  display: none;
  
  &.is-show {
    display: block;
  }
}
//chat clickdesk
#clickdesk-appendable-bubble {
  display: none;
}

@media screen and (max-width: 768px) {

  .search-form:hover {
    width: 100%;
  }
}