.custom-hr {
	margin: 0.55rem auto !important;
}

#single-news {
	.newsletter-news {
	  border: 1px solid #edeef3;
	  background-color: #edeef3;
	}

	.wpcf7-form {
	  span input, textarea {
	    background-color: white;
	    border: solid 1px white;
	  }
	}

}

#single-course {
	.icon-banner {
		height: 50vh;
		width: auto;
	}

	#details {
		background-color: #5DA8E8;
	}
}
